*{padding: 0;
  margin: 0;
}



body{
    border: 2px solid black;
    background-image: url(/img/mt.-everest.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    overflow-y: hidden;
    /*border: 1px solid red;*/
    

}

header {
    width: 80%;
    height: 8%;
    /*border: 2px solid blue;*/
    background-color: rgb(255, 251, 251);
    margin-left: 120px;
    
    
    

}
.header {
    display: flex;
    height: 100%;
    /* margin: 10px;*/
    justify-content: space-between;
    font-size: 15px;
    color: black;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 50px;
    /*border: 1px solid red;*/

}

.header li {
    margin: 10px;
    font-weight: 20;
}




main{
    border: 1px solid green;
    height: 92%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.794), black);


}

.udix {
    font-size: 30px;
    color: blue;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Ubuntu', sans-serif;
}
span{
    color:orangered;
}

main{
    display: flex;
}
.main {
    color: white;
    margin-top: 100px;
    margin-left: 125px;
}

.main h1{
    font-size: 40px;
    margin-top: 2px;
}

.main p {
    font-size: 19px;
    margin-top: 25px;
    color: rgb(170, 169, 169);
}

.main img{
    height: 30px;
    width: 20px;
}

.s-main{
    display: flex;
    /*padding: 300px;*/
    margin-top: 330px;
    margin-left: 330px;
    
    
}

.s-main h3{
    color: rgb(170, 169, 169);
    font-weight: 9;
    
}


button {
    margin-top: 25px;
    font-size: 14px;
    padding: 10px 20px;
    background-color:rgb(240, 81, 81);
    border: none;
    text-align: center;
    cursor: pointer;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: red;
}

img{
    height: 20px;
}

.vl {
    border-left: 1px solid gray;
    height: 20px;
  }

  a{
      color: black;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: red;
  }
  
  a:active {
    text-decoration: underline;
  }

  .sm-icons{
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-top: 120px;
      font-size: 40px;
      border-radius: 50% white;
      margin-left: 100px;
       
  }

@media only screen and (max-width: 600px) {
main{
    display: block;
    
    
}

.main {
    color: white;
    margin-top: 100px;
    margin-left: 125px;
    justify-content: center;
}

.main h1{
    font-size: 20px;
    margin-left: 40px
}

.main p {
    font-size: 20px;
    margin-top: 15px;
    margin-right: 40px;
}

button {
margin-left: 40px;
}

.sm-icons{
display: inline-flex;
}
}